<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>home page</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-white text-center">
			<h1>Start contact manager</h1>
			<p>
				start collecting contacts in smarter way.We provide very efficient
				 and smarter way of handling contacts
			</p>
			<button class="btn bg-primary1 btn-primary btn-lg text-white">Get Start</button>
		</div>
	</section>

</body>

</html>